extends ../layout

block content
	.row
		h1.
			#{title}
		form#formAddBlob(name="addblob",method="post",action="/blobs")
			p Name: 
				input#inputName(type="text", placeholder="ex. John Smith", name="name")
			p Badge:
				input#inputBadge(type="number", placeholder="ex. 123456", name="badge")
			p DOB: 
				input#inputDob(type="date", name="dob")
			p Company:	
				input#compnay(type="text", name="company", placeholder="company name")		       
			p Are You Loved?: 
				input#inputIsLoved(type="checkbox", name="isloved")
			p
				button#btnSubmit(type="submit") submit